*~
.idea
.DS_Store
.classpath
.project
.log
client/acceptance-test/src/.gitignore
node_modules/
client/webapp-customer/*/app/dist/
client/webapp-vendor-admin/app/dist/
logs
project/project
project/target
target
tmp
dist/
.cache

